label {
  font-weight: bold;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: bisque;
}

input,
textarea {
  border-radius: 8px;
  padding: 9px;
  margin: 4px;
}

.campo_texto {
  width: 400px;
}

#phone {
  width: 200px;
}

#formulario {
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 100px;
}

#botao {
  font-weight: bold;
}
